

/* ALL PAGE ARCHITECURE */

body {
    margin: 0;
    font-family: 'raleway', sans-serif;
}

.container {
    display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
}

/* HEADER PART */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;

    }

.logo{
    display: flex;
}
.logo_img {
    width: 60%;
    margin-left: 2rem;

}
.navbar{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.navar_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* width: 80%; */
    height: auto;
    
}

.under-Menu{
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
}


.under-Menu a {
    text-decoration: none;
    color:gray;
    font-family:Raleway;

}
.under-Menu a:hover {
    color:blue;
    border-top: 3px solid blue;

}

/* CONTENT PART */

.content {
    
    border: 1px solid red;
    /* flex: 1*/
}

/*barre de recherche*/

.post{
    display: flex;
    margin-top: 20px;
}
.position {
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px;
}

  .post button {
    width: 10rem;
    border: 0;
    margin-right: 10px;
    background: #0065FC;
    color: #fff;
    cursor: pointer;
  }
 .logo_recherche{
    border-radius: 0px 15px 15px 0px;
  }
  #id{
      width:12rem;
  }
  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    display: flex;
    font-size: 15px;
    font-weight: bold;
    padding:1rem;
} 

/* Filter PART */

.themes {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.themes h2 {
    margin-right: 30px;
}
.list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.item {
    height: 50px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
 }
 .item i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dae4f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;

 }

 .fa-info  {
    color: #0065FC;
    /* margin-right: 6px; */
    margin-left: 1rem;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: #dae4f3; */
    border-radius: 100%;
    width: 25px;
    height: 25px;
 }
/* booking section  */
#hebergement{
    margin-top: 50px;
}

.booking{
    display: flex;
    flex-direction: row;
}

/* Section héberement à Marseille part */
.headingSecondary{
    width: 100%;
    padding: 15px;
}
.annonce{
    width: calc(30% - 30px);
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.description{
    padding: 5px;
}
.blue{
    color: #0065FC;
    font-size: 13px;
    padding-top: 20px;
}
.grey {
    color: #f2f2f2;
    font-size: 13px;
    padding-top: 20px;
}

#best{
    margin-left: 30px;
}
.populaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 30px;
}

.contentRight{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.location{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 60%; */
    /* height: 90%; */
    border: 1px solid red;
    border: 2px solid #f2f2f2;
    border-radius: 5%;
    background: #F2F2F2;
}
.cardBox{
    border: 1px solid red;
    width: 14rem;
    height: 10rem;
    margin: 12px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px grey;
    margin-left: 4rem;

}
.card__img {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
    height: 130px;

}

.activity{
    width: -webkit-fill-available;


}

/* ICI SECTION LES PLUS POPULAIRES */
.populaire{
    border: 1px solid red;
    
    }
    .hhh{
        display: flex;
    }
    .populaireMenu{
        border: 1px solid red;
        /* width: 100%; */
        /* height: 20rem; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: 2px solid #f2f2f2;
        border-radius: 5%;
        background:#F2F2F2
    
    }
    
    .cardPopulaire{
        height: 5rem;
        width: 5rem;
        margin:12px;
        padding:10px;
        border-radius:5px;
        box-shadow: 1px 1px 6px grey;
        margin-left:4rem;
    
    }
    

/* FOOTER PART */
.footer {

    border: 1px solid red;
    min-height: 10rem;
    background-color:#F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.footerLeft{
    width: 15rem;
    padding: 1rem;
    
}
.footerCenter{
    width: 15rem;
    padding: 1rem;

}


.footerRight{
    width: 20rem;
    padding: 1rem;
}
.footerLeftMenu{
    height: 5rem;
    list-style-type: none;


}
.footerCenterMenu{
    list-style-type: none;
    height: 5rem;

}
.footerRightMenu{
    height: 5rem;
    list-style-type: none;

}
.underFooter a{
    text-decoration: none;
    text-decoration: none;
    color:gray;
}
