

/* ALL PAGE ARCHITECURE */

body {
    margin: 0;
}

.container {
    display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* HEADER PART */
.header {
    border: 1px solid red;
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.logo{
    border: 1px solid red;
    width: 10rem;

}
.logoImg {
    border: 1px solid red;
    width: 6rem;
    margin-left: 2rem;

}
.menu {
    border: 1px solid red;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50rem;
}

.underMenu{
    border: 1px solid red;
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
}


.underMenu a {
    text-decoration: none;
    color:gray;
    font-family:Raleway;

}
.underMenu a:hover {
    color:blue;
    border-top: 3px solid blue;

}

/* CONTENT PART */

.content {
    
    border: 1px solid red;
    flex: 1;
}
/* Filter PART */

.filtre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.underFiltre{
    border: 1px solid red;
    list-style-type: none;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20rem;

}
/*text part inside the border */
.underFiltre a{
    text-decoration: none;
    color:black;
    font-family:Raleway;
}
.booking{
    display: flex;
    flex-direction: row;
}

/* ICI SECTION LES PLUS POPULAIRES */
.populaire{
border: 1px solid red;

}
.hhh{
    display: flex;
}
.populaireMenu{
    border: 1px solid red;
    /* width: 100%; */
    /* height: 20rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.populaireUnderMenu{

}
.cardPopulaire{
    height: 5rem;
    width: 5rem;
    margin:12px;
    padding:10px;
    border-radius:5px;
    box-shadow: 1px 1px 6px grey;
    margin-left:4rem;

}

/* Section héberement à Marseille part */
.headingSecondary{
    width: -webkit-fill-available;

}

.contentRight{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: -webkit-fill-available;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: 60%; */
    /* height: 90%; */
    border: 1px solid red;
}
.card__img {
    height: 5rem;
    width: 5rem;
    margin:12px;
    padding:10px;
    border-radius:5px;
    box-shadow: 1px 1px 6px grey;
    margin-left:4rem;

}

.activity{
    width: -webkit-fill-available;


}



/* FOOTER PART */
.footer {

    border: 1px solid red;
    min-height: 10rem;
    background-color:#F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.footerLeft{
    width: 15rem;
    border: 1px solid red;
    padding: 1rem;
    
}
.footerCenter{
    width: 15rem;
    border: 1px solid red;
    padding: 1rem;

}


.footerRight{
    width: 20rem;
    border: 1px solid red;
    padding: 1rem;
}
.footerLeftMenu{
    border: 1px solid red;
    height: 5rem;
    list-style-type: none;


}
.footerCenterMenu{
    border: 1px solid red;
    list-style-type: none;
    height: 5rem;

}
.footerRightMenu{
    border: 1px solid red;
    height: 5rem;
    list-style-type: none;

}
.underFooter a{
    text-decoration: none;
    text-decoration: none;
    color:gray;
}