

/* ---------------------------------ALL PAGE ARCHITECURE--------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    font-family: 'raleway', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}



/* ------------------------------------HEADER PART------------------------------- */

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  .header_img {
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
  }
  .headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .headerNavLink {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }

  .headerNavLink:hover {
    color: #0065FC;
  }
  .headerSignup {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
  }
  
  @media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
  
    .headerNavLink:hover {
      border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .header_img {
      order: 0;
    }
    .headerSignup {
      order: 1;
    }
    .headerNav {
      order: 2;
    }
    .headerNavLink {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerNavLink[data-active=true] {
      border-bottom-color: #0065FC;
    }
    .headerNavLink:hover {
      border-bottom-color: #0065FC;
    }
  }

/*------------------------------ CONTENT PART --------------------------------------*/

.content {
    margin-left: 1rem;
}
@media screen and (max-width:600px){
    .content {
        margin-left: 20px;
        }
}
@media screen and (max-width:920px) and (min-width:475px){
  .content {
    margin-left:6rem;
    }

}


/*-----------------------------barre de recherche-----------------------------------*/

.post{
    display: flex;
    margin-top: 20px;
    box-shadow: 0px 0px 0px 0px;

}
.position {
    background: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 18px;
}

  .post button {
    width: 10rem;
    border: 0;
    margin-right: 10px;
    background: #0065FC;
    color: #fff;
    cursor: pointer;
  }
 .logo_recherche{
    border-radius: 0px 15px 15px 0px;
  }
  #id{
      width:12rem;
  }
  ::placeholder { /* Firefox, Chrome, Opera */ 
    color: black; 
    display: flex;
    font-size: 15px;
    font-weight: bold;
    padding:1rem;
} 
@media screen and (max-width:600px)
{
    .logo_recherche i {

        display: inline-block;
    
    }
    .logo_recherche span {

        display: none;
    
    }
    
    
    .post > * {
    
        font-size: 15px;
        box-shadow: 0px 0px 0px 0px;

    
    }
    .logo_recherche{
        border-radius: 5px 10px 10px 5px;
    }
    .post button {
        width: 4rem;
    }
}

/*------------------------------- Filter PART--------------------------------------- */

.themes {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 30px;
}
.themes h3 {
    margin-right: 30px;
    margin-left: 15px;
}
.filtre{
    margin-top: 25px;}
.list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.item {
    height: 50px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;
 }
 .item i {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dae4f3;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;

 }

 .fa-info  {
    color: #0065FC;
    margin-left: 1rem;
    border-radius: 100%;
    width: 25px;
    height: 25px;
 }

 /*--ici nombre de logement*/ 

 .nombre--logement{
     display: flex;
 }

/* --------------------------------------------booking section---------------------------  */
.hebergement{
    margin-top: 50px;
}

.booking{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:900px)
{
    .booking{
        flex-direction: column;

    }
}
/* -------------------------Section héberement à Marseille part --------------------------*/

.location {
    width: 60%;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width:900px)
{
    .location{
        display: contents;
        
    }
    
}


.headingSecondary{
    width: 81%;
    padding: 15px;
    cursor: pointer;
}
.annonce{
    width: calc(32% - 30px);
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width:900px)
{
    .headingSecondary{
        width: 86%;
        cursor: pointer;
        margin-block-start: 0;
        margin-block-end: 0;
    }
.annonce{
    width: 81%;
    background: #fff;
    padding: 5px;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.annonce-title{
    margin-block-start: 0;
    margin-block-end: 0;
}
.annonce-parag {
    margin-block-start: 10px;
    margin-block-end: 0;
}
}
.description{
    padding: 5px;
}
.blue{
    color: #0065FC;
    font-size: 13px;
    padding-top: 20px;
}
.grey {
    color: #D3D3D3;
    font-size: 13px;
    padding-top: 20px;
}
.location :hover {

    transform: scale(1.02);

}



/* -------------------------ICI SECTION LES PLUS POPULAIRES -----------------------------*/

#best{
    margin-left: 30px;
    width: 30%;
}

@media screen and (max-width:900px){
    #best{
        display:contents;
    }
 
    
    
}

.populaire {
    display: flex;
    flex-direction: column;
    width: 83%;
    height: auto;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 25px;
    word-break: break-word;
}
.titre2{
    cursor: pointer;
}
.block {
    display: flex;
    width: 100%;
    justify-content: space-between;
   
}
.block i {
    font-size: 25px;
}

.most-popular {
    margin-top: 50px;
    display: flex;
    background-color: #fff;
    width: 100%;
    height: auto;
    border-radius: 27px 20px 20px 27px;
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1);
    transition: .2s ease-in-out;
    cursor: pointer;
}
.most-popular img {
    margin: 5px;
    height: auto;
    width: 120px;
    object-fit: cover;
    margin-top: 5px;
    border-radius: 20px 0 0px 20px;
}
.resum {
    font-size: 15px;
    padding-bottom: 50px;
    margin: 10px;
}



.card__img {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;
    height: 130px;

}
.populaire :hover {

    transform: scale(1.02);

}
@media (max-width: 900px) {

.populaire--title{
    margin-block-end: 0;
    margin-block-start: 0;
    word-break: break-word;
}
}

/* -----------------------------ICI SECTION LES  ACTIVITÉS------------------------------------ */


.activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    width:91%;
  }
  .activityTitle {
    grid-column: 1/-1;
  }
  .activityCard {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
  }
  .activityCard:hover {
    transform: scale(1.01);
  }
  .activityCardWrapimg {
    position: relative;
    flex: 1;
  }
  .activityCardWrapimgImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .activityCardTitle {
    margin: 1.2rem 1.5rem;
  }
  
  @media (min-width: 1100px) {
    .activity {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }
    .activityCard1 {
      grid-row: 2/7;
      grid-column: 1/2;
    }
    .activityCard2 {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .activityCard3 {
      grid-column: 3/4;
      grid-row: 2/7;
    }
    .activityCard4 {
      grid-column: 4/5;
      grid-row: 2/3;
    }
    .activityCard5 {
      grid-column: 2/3;
      grid-row: 6/7;
    }
    .activityCard6 {
      grid-column: 4/5;
      grid-row: 4/7;
    }
  }
  @media (max-width: 1100px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 12rem 12rem;
    }
  }
  @media (max-width: 925px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 12rem 12rem 12rem;
    }
  }
  @media (max-width: 650px) {
    .activity {
      row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
  }



/* ---------------------------FOOTER PART--------------------------- */
.footer {

    height: 200px;
    background-color:#F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.footerLeft{
    width: 30%;
    padding: 1rem;
    
}
.footerCenter{
    width: 30%;
    padding: 1rem;

}


.footerRight{
    width: 30%;
    padding: 1rem;
}
.footerLeftMenu{
    height: 5rem;
    list-style-type: none;


}
.footerCenterMenu{
    list-style-type: none;
    height: 5rem;

}
.footerRightMenu{
    height: 5rem;
    list-style-type: none;

}
.underFooter {
    margin: 10px;
}
.underFooter a{
    text-decoration: none;
    color:black;
    
}
.footer_title{
    margin-left: 3rem;
}


/* ---------------------------FOOTER media Queries--------------------------- */

@media screen and (max-width:980px)
{
    
    .footer{
        display:flex;
        flex-direction: column;
        height:auto;
    }
    .footerLeft{
        width: 80%;
    padding: 1rem;
    }
    .footerCenter{
        width: 60%;
        height: 120px;
    padding: 1rem;
    }
    .footerRight{
        width: 60%;
    padding: 1rem;
    }
    
}